---
import JavascriptIcon from "../components/icons/JavaScript.astro";
import CssIcon from "../components/icons/CSS.astro";
import EjsIcon from "../components/icons/Ejs.astro";
import GitHubIcon from "../components/icons/GitHub.astro"; // Asegúrate de tener estos iconos
 import LinkIcon from "../components/icons/Link.astro";

const TAGS = {
  JavaScript: {
    name: "JavaScript",
    class: "bg-[#F7DF1E] text-black font-bold",
    icon: JavascriptIcon,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#639] text-white font-bold",
    icon: CssIcon,
  },
  EJS: {
    name: "EJS",
    class: "bg-[#2d5016] text-white",
    icon: EjsIcon,
  }
}

const PROJECTS = [
  {
    title: "Configurador de Bromas",
    description: "Proyecto enfocado en el consumo de una API REST pública (JokeAPI v2) para la obtención de chistes en tiempo real. Implementa peticiones HTTP, manejo de respuestas en formato JSON y filtrado por categorías y tipo de contenido.",
    link: "#",
    github: "https://github.com/Misael-Marcano/Configurador-de-Bromas",
    image: "/projects/svgl.png",
    tags: [TAGS.JavaScript, TAGS.CSS, TAGS.EJS],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img 
              alt={`Captura de pantalla del proyecto ${title}`} 
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-100" 
              loading="lazy" 
              src={image} 
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}>
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400 text-pretty">
              {description}
            </div>

            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <a 
                  href={github} 
                  role="link" 
                  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-900 group max-w-fit rounded-xl active:bg-black focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2"
                >
                  <GitHubIcon class="size-4" />
                  Code
                </a>
              )}
              {link && (
                <a 
                  href={link} 
                  role="link" 
                  class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-900 hover:border-gray-900 group max-w-fit rounded-xl active:bg-black focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2"
                >
                  <LinkIcon class="size-4" />
                  Preview
                </a>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>